alias cl="clear"
alias psg="ps aux | grep"
alias hig="history | grep"

alias tm="tmux attach || tmux new"

# Oh My ZSH
alias git_aliases="cat ~/.oh-my-zsh/plugins/git/git.plugin.zsh"

# Ruby on Rails
alias migrate="rake db:migrate db:rollback && rake db:migrate"

alias cask="brew cask"